@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-black font-Poppins  overflow-x-hidden;
  }

  section {
    @apply my-10;
  }

  .container {
    @apply p-3;
  }
}

/* Homepage */

.sun-active {
  @apply scale-100 md:bottom-24 bottom-20;
}

.moon-active {
  @apply scale-100 md:bottom-48 bottom-40;
}

.btn-active > svg > path:nth-child(1) {
  @apply rotate-180  fill-blue-saber stroke-white animate-none;
}

.btn-active > svg > path:nth-child(2) {
  @apply rotate-180  fill-blue-saber stroke-white animate-none;
}

.btn-active > svg > path:nth-child(3) {
  @apply rotate-180  stroke-none animate-none;
}

.Box-Active {
  @apply scale-100 z-10;
}

.navCont-Active {
  @apply pb-40  bg-Black-Nav;
}

.navLinks-Active {
  @apply opacity-100 translate-y-12 top-1/2;
}

.navBurger-Active > svg > path:nth-child(1) {
  @apply rotate-45  translate-x-2.5 text-red-500;
}

.navBurger-Active > svg > path:nth-child(2) {
  @apply opacity-0;
}

.navBurger-Active > svg > path:nth-child(3) {
  @apply -rotate-45 translate-x-2.5 text-red-500;
}

.left-wing-active {
  @apply -translate-x-20 translate-y-20 -rotate-180;
}
.right-wing-active {
  @apply translate-x-20 -translate-y-20 rotate-180;
}

/* Homepage End */

@layer utilities {
  /* .text-stroke  {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 12px;
        @apply text-Black-storke
    } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply capitalize;
  }

  h1 {
    @apply 2xl:text-4xl xl:text-3xl md:text-3xl text-xl font-bold;
  }

  h2 {
    @apply md:text-3xl text-base font-semibold;
  }

  h3 {
    @apply md:text-2xl text-base font-semibold;
  }

  h6 {
    @apply md:text-lg text-sm;
  }
}


/* Project Showcase */
.Desc-Active-Open {
  @apply line-clamp-none
}
/* Project Showcase end */