@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        -webkit-tap-highlight-color: transparent;   
    }

    html {
        @apply scroll-smooth
    }
    
    body {
        @apply bg-black font-Poppins  overflow-x-hidden 
    }

    section {
        @apply my-10
    }

    .container {
        @apply p-3 
    }
}

@layer components {

}

    
.navCont-Active {
    @apply pb-40  bg-Black-Nav 
}

.navLinks-Active {
    @apply opacity-100 translate-y-12 top-1/2 
}



.navBurger-Active > svg > path:nth-child(1) {
    @apply rotate-45  translate-x-2.5 text-red-500 
}

.navBurger-Active > svg > path:nth-child(2) {
    @apply opacity-0 
}

.navBurger-Active > svg > path:nth-child(3) {
    @apply -rotate-45 translate-x-2.5 text-red-500 
}



@layer utilities {

    .left-wing-active {
      @apply  -translate-x-20 translate-y-20 -rotate-180
    }
    .right-wing-active {
      @apply  translate-x-20 -translate-y-20 rotate-180
    }

    /* .text-stroke  {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 12px;
        @apply text-Black-storke
    } */

    h1, h2, h3, h4, h5, h6, p {
        @apply capitalize
    }

    h1 {
        @apply md:text-4xl text-xl font-bold
    }

    h2 {
        @apply md:text-3xl text-base font-semibold
    }

    h6 {
        @apply md:text-lg text-sm
    }
}